.container > div:not(.title) {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container > div:not(.title) img {
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.content-box {
  /* border: 1px orange solid; */
  background-color: #f3f5f5;
}

.content-box > div {
  /* border: 1px pink solid; */
  display: flex;
  gap: 30px;
}

/* .content-box {
  border: 1px green solid;
} */

.meals {
  /* border: 1px black solid; */
  width: 820px;
}

.category {
  /* border: 1px red solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category > div {
  /* border: 1px yellow solid; */
  width: calc((100% - 20px) / 2);
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
}

.category > div:hover {
  cursor: pointer;
}

.category p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Nombre de lignes avant le masquage */
  -webkit-box-orient: vertical;
  margin-bottom: 25px;
}

.meal-description {
  /* border: 1px chocolate solid; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.meal-description > div > span:first-of-type {
  font-size: 17px;
}

.meal-description > div {
  display: flex;
  align-items: center;
}

.popular {
  margin-left: 25px;
  font-size: 12px;
  color: #ff8000;
  display: flex;
  align-items: center;
}

.popular i {
  font-size: 20px;
  margin-right: 5px;
}

.cart-column {
  width: 100%;
}

.cart-box {
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: white;
  min-height: 250px;
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 25px;
}

.cart-box > button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.cart-box > button.active {
  color: white;
  background-color: #07cdbd;
}

.cart-box > button.inactive {
  color: #8b9a9b;
  background-color: #bac3c3;
}

.cart-box > button.inactive:hover {
  cursor: not-allowed;
}

.cart-box > div.empty-cart {
  /* border: 1px yellow solid; */
  color: #868a8a;
  height: calc(100% - (50px + 25px));
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cart-box > div.full-cart {
  color: #2e3333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.cart-box > div.full-cart button {
  margin: 5px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  /* padding: 5px; */
  line-height: 15px;
  border-radius: 50%;
  background-color: white;
  color: #07cdbd;
  border: 1px #07cdbd solid;
}

.line {
  /* border: 1px orange solid; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.line > div {
  /* border: 1px gray solid; */
  display: flex;
  align-items: center;
}

.line > p:last-of-type {
  /* border: 1px lightblue solid; */
  margin-left: auto;
}

.sub-total {
  border-top: 1px #d1d7d7 solid;
  border-bottom: 1px #d1d7d7 solid;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  line-height: 1.5;
}

.sub-total > div {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}
