header > div:first-of-type {
  border-bottom: 1px #e9ebeb solid;
}

.baseline > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

header img {
  width: 155px;
}
.title {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title img {
  width: 350px;
}

.title p {
  margin: 20px 0;
  font-size: 19px;
}
